<div *ngIf="visible" class="row-auto h-fit max-w-full bg-amber-200">
    <div class="col-auto flex flex-row justify-around p-2">
        <button
            [ngClass]="isSelected(selected, WallTool) ? 'bg-white' : ''"
            class="mx-1 rounded"
            (click)="selectTool(WallTool)"
        >
            Line
        </button>
        <button
            [ngClass]="isSelected(selected, SelectTool) ? 'bg-white' : ''"
            class="mx-1 rounded"
            (click)="selectTool(SelectTool)"
        >
            Select
        </button>
        <button
            [ngClass]="isSelected(selected, DoorTool) ?'bg-white' : ''"
            class="mx-1 rounded"
            (click)="selectTool(DoorTool)"
        >
            Door
        </button>
    </div>
</div>
