.line {
  stroke: black;
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: transparent;
  &:hover {
    stroke: rgb(14, 165, 233);
  }
}

.ghost {
  stroke: rgb(14, 165, 233);
}

text {
  stroke: black;
  user-select: none;
  stroke-width: 1px;
}
